body {
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    background-color: #1e374f;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
}
.converter {
    background-color: rgba(52, 73, 94, 0.8);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: 10px;
}
label {
    display: block;
    margin-top: 10px;
}
select, input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2vh;
    box-sizing: border-box;
}
button {
    background-color: #27ae60;
    color: white;
    padding: 10px;
    border: 1vh;
    border-radius: 5px;
    margin-top: 10px;
}
#result {
    margin-top: 20px;
    font-size: 1.2em;
}
